main{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =====================
   CARD LOGIN
===================== */

.bloco_login{
    display: flex;

    background: var(--cor-secundaria);

    padding: 25px;

    border-radius: 12px;
}

.bloco_login form{
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.bloco_login input{
    width: 300px;

    padding: 10px;

    border: none;
    border-radius: 10px;

    background: var(--cor-azul-claro);
}

.bloco_login input::placeholder{
    color: var(--cor-texto-escuro);
}

.bloco_login input:focus{
    outline: none;
    outline: 2px solid var(--cor-azul);
}

/* =====================
   LINKS
===================== */

.outras_opcoes{
    display: flex;
    justify-content: space-between;

    padding: 0 5px;

    margin-bottom: 20px;
}

.bloco_login a{
    font-size: 12px;

    color: var(--cor-texto);

    text-decoration: none;

    transition: var(--transition-fast);
}

.bloco_login a:hover{
    color: var(--cor-texto-esmaecido);
}

/* =====================
   BOTÃO
===================== */

.bloco_login input[type="submit"]{
    background: var(--cor-azul);

    cursor: pointer;

    transition: var(--transition-fast);
}

.bloco_login input[type="submit"]:hover{
    background: var(--cor-azul-escuro);
    color: var(--cor-texto);
}

.bloco_login input[type="submit"]:active{
    background: var(--cor-azul);
}