body{
    height: calc(100vh - 40px);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.bloco_login{
    display: flex;

    background: var(--cor-secundaria);
    border-radius: 10px;

    padding: 20px;
}

.bloco_login form{
    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 10px;
}

.bloco_login input{
    background: var(--cor-azul-claro);
    border: none;
    border-radius: 10px;

    width: 300px;
    padding: 10px;

    transition: var(--transition-fast);
}

.outras_opcoes{
    display: inline-flex;
    justify-content: space-between;
    
    padding: 0px 5px;
    margin-bottom: 30px;
}

.bloco_login a{
    font-size: 12px;
}

.bloco_login input[type="submit"]{
    background: var(--cor-azul) !important;
    cursor: pointer;
}

.bloco_login input::placeholder{
    color: var(--cor-texto-escuro);
}

.bloco_login input[type="submit"]:hover{
    background: var(--cor-azul-escuro) !important;
}

.bloco_login input[type="submit"]:active{
    background: var(--cor-azul) !important;
}

.bloco_login input:focus{
    border: 1px solid var(--cor-azul);
    outline: none;
}

.marca_dagua{
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--cor-texto-esmaecido);
}