@import url("https://use.typekit.net/jgg0qzq.css");

:root{
    --cor-fundo: #0F172A;
    --cor-secundaria: #1E293B;

    --cor-azul-escuro: #2b58a0;
    --cor-azul-claro: #8ab7ff;
    --cor-azul: #3B82F6;
    --cor-ciano: #22C5FE;

    --cor-destaque: #EAB308;
    --cor-texto: #F8FAFC;
    --cor-texto-esmaecido: #9b9b9b;
    --cor-texto-escuro: rgb(0, 0, 0);

    --cor-erro: #F00000;

    --transition-fast: all .3s ease;

    --navbar-height: 100px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    min-height: 100vh;

    display: grid;
    grid-template-rows: var(--navbar-height) 1fr auto;

    background: var(--cor-fundo);
    color: var(--cor-texto-escuro);
}

body.sem-navbar{
    grid-template-rows: 1fr auto;
}

h1{
    font-size: clamp(2rem, 5vw, 6rem);
}

h2{
    font-size: clamp(2rem, 5vw, 4rem);
}

h3{
    font-size: clamp(1.7rem, 4vw, 3rem);
}

h4{
    font-size: clamp(1.4rem, 3vw, 2.3rem);
}

h5{
    font-size: clamp(1.2rem, 2.5vw, 1.8rem);
}

h6{
    font-size: clamp(1rem, 2vw, 1.4rem);
}

p{
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    color: var(--cor-texto);
}

small{
    font-size: clamp(.8rem, 1vw, 1rem);
    color: var(--cor-texto-esmaecido)
}

a{
    font-size: clamp(.95rem, 1vw, 1.1rem);
}

main{
    width: 100%;
    padding: 20px;
}

footer{
    padding: 10px;
}

/* =====================
   NAVBAR
===================== */

.ativo{
    display: block !important;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    z-index: 999;
}

.navbar_bloco{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--cor-azul);

    margin: 10px;
    padding: 10px;

    height: calc(var(--navbar-height) - 20px);

    border-radius: 10px;
}

.navbar_bloco img{
    width: 70px;
    height: 70px;
}

.navbar_bloco button{
    background: none;
    border: none;

    font-size: 2rem;
    cursor: pointer;
}

.navbar_bloco button:hover{
    color: var(--cor-secundaria);
}

.navbar_bloco button:active{
    color: var(--cor-fundo);
}

.menu_navbar{
    position: absolute;
    display: none;
}

.menu_navbar ul{
    background: var(--cor-azul-escuro);

    width: 180px;

    margin-left: 10px;
    padding: 10px;

    border-radius: 10px;
}

.menu_navbar li{
    list-style: none;
    padding: 5px;
}

.menu_navbar a{
    text-decoration: none;
    color: var(--cor-texto);
}

.menu_navbar a:hover{
    color: var(--cor-texto-esmaecido);
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 50px;
    height: 35px;
    object-fit: cover;
}

.vazio{
    width: 70px;
}

.perfil img{
    width: 50px;
    height: 50px;

    object-fit: cover;

    border-radius: 50%;
    border: 2px solid var(--cor-fundo);

    filter: brightness(0.8);

    transition: var(--transition-fast);
}

.perfil img:hover{
    border-color: var(--cor-secundaria);
    filter: brightness(1);
}

.marca_dagua{
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--cor-texto-esmaecido);
}