@import url("https://use.typekit.net/jgg0qzq.css");

:root {
    --cor-fundo: #0f172a73;
    --cor-secundaria: #1E293B;
    --cor-vidro: rgba(255, 255, 255, 0.05);
    --cor-vidro-azul: rgba(114, 167, 252, 0.05);

    --cor-azul-escuro: #2b58a0;
    --cor-azul-claro: #8ab7ff;
    --cor-azul: #3B82F6;
    --cor-ciano: #22C5FE;

    --cor-destaque: #EAB308;
    --cor-texto: #F8FAFC;
    --cor-texto-esmaecido: #9b9b9b;
    --cor-texto-escuro: rgb(0, 0, 0);

    --cor-erro: #F00000;

    --sombra-vidro: 0 8px 32px rgba(0, 0, 0, 0.25), inset 0 1px 3px rgba(255, 255, 255, 0.2);

    --sombra: 0 8px 32px rgba(0, 0, 0, 0.25);

    --transition-fast: all .3s ease;

    --navbar-height: 100px;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;

    display: grid;
    grid-template-rows: var(--navbar-height) 1fr auto;

  background: linear-gradient(
    120deg,
    #0f172a,
    #141733,
    #1c2a49,
    #141733,
    #0f172a
  );

  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}

body.sem_navbar {
    grid-template-rows: 1fr auto;
}

h1 {
    font-size: clamp(2rem, 5vw, 6rem);
}

h2 {
    font-size: clamp(2rem, 5vw, 4rem);
}

h3 {
    font-size: clamp(1.7rem, 4vw, 3rem);
}

h4 {
    font-size: clamp(1.4rem, 3vw, 2.3rem);
}

h5 {
    font-size: clamp(1.2rem, 2.5vw, 1.8rem);
}

h6 {
    font-size: clamp(1rem, 2vw, 1.4rem);
}

p {
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    color: var(--cor-texto);
}

small {
    font-size: clamp(.8rem, 1vw, 1rem);
    color: var(--cor-texto-esmaecido)
}

a {
    font-size: clamp(.95rem, 1vw, 1.1rem);
}

main {
    width: 100%;
    padding: 20px;
}

footer {
    padding: 10px;
}

/* =====================
   NAVBAR
===================== */

.ativo {
    display: block !important;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    z-index: 999;
}

.navbar_bloco {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--cor-vidro);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    color: var(--cor-texto);

    box-shadow: var(--sombra-vidro);

    margin: 10px;
    padding: 10px;

    height: calc(var(--navbar-height) - 20px);

    border-radius: 10px;
}

.navbar_bloco img {
    width: 70px;
    height: 70px;
}

.navbar_bloco button {
    background: none;
    border: none;

    font-size: 2rem;
    cursor: pointer;

    color: var(--cor-texto);
}

.navbar_bloco button:hover {
    color: var(--cor-fundo);
}

.navbar_bloco button:active {
    color: var(--cor-texto);
}

.menu_navbar {
    position: absolute;
    display: none;
}

.menu_navbar ul {
    background: var(--cor-vidro);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: var(--sombra-vidro);

    width: 180px;

    margin-left: 10px;
    padding: 10px;

    border-radius: 10px;
}

.menu_navbar li {
    list-style: none;
    padding: 5px;
}

.menu_navbar a {
    text-decoration: none;
    color: var(--cor-texto);
}

.menu_navbar a:hover {
    color: var(--cor-texto-esmaecido);
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 50px;
    height: 35px;
    object-fit: cover;
}

.vazio {
    width: 70px;
}

.perfil img {
    width: 50px;
    height: 50px;

    object-fit: cover;

    border-radius: 50%;

    filter: brightness(0.8);

    transition: var(--transition-fast);
}

.perfil img:hover {
    filter: brightness(1);
}

.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.divisao{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* =====================
   USUÁRIO
===================== */

.conta{
    z-index: 1000;
    position: fixed;

    background: var(--cor-fundo);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    color: var(--cor-texto);

    width: 100%;
    height: 100vh;

    padding: 100px;
}

.bloco_conta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    padding: 25px;
    border-radius: 12px;
}

.bloco_conta ul{
    list-style: none;
}

.ajuste_conta{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.ajuste_botoes{
    display: flex;
    gap: 20px;
}

.ajuste_botoes form{
    width: 100%;
}

.extensao_botao{
    width: 100%;
}

.btn_fechar{
    font-size: 1.5rem;
    padding: 10px;
    color: var(--cor-texto);
    background: none;
    border: none;
    transition: var(--transition-fast);
}

.btn_fechar:hover{
    transform: scale(1.15);
    color: var(--cor-texto-esmaecido);
    cursor: pointer;
}

.btn_fechar:active{
    transform: scale(1);
    color: var(--cor-texto);
}

.bloco_formulario {
    display: flex;

    padding: 25px;
    border-radius: 12px;
}

.bloco_formulario form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input_padrao {
    width: 300px;
    padding: 10px;

    border: none;
    border-radius: 10px;

    background: var(--cor-azul-claro);
}

.input_padrao::placeholder {
    color: var(--cor-texto-escuro);
}

.input_padrao:focus {
    outline: none;
    outline: 2px solid var(--cor-azul);
}

.botao {
    background: var(--cor-azul);
    border: none;
    border-radius: 10px;

    color: var(--cor-texto);
    font-weight: bold;

    padding: 10px;

    cursor: pointer;
    transition: var(--transition-fast);
}

.botao:hover {
    transform: scale(1.01);
    background: var(--cor-azul-escuro);
    box-shadow: var(--sombra);
}

.botao:active {
    transform: scale(1);
    background: var(--cor-azul);
}

.outras_opcoes {
    display: flex;
    justify-content: space-between;

    margin: 0;
}

.outras_opcoes a {
    font-size: 12px;

    color: var(--cor-texto);

    text-decoration: none;

    transition: var(--transition-fast);
}

.outras_opcoes a:hover {
    color: var(--cor-texto-esmaecido);
}

.estilo_primario {
    background: var(--cor-vidro);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    box-shadow: var(--sombra-vidro);
}

.estilo_secundario {
    background: var(--cor-vidro-azul);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    box-shadow: var(--sombra-vidro);
}

.marca_dagua {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 1%;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--cor-texto-esmaecido);
}

.erro {
    display: flex;
    justify-content: center;
    font-size: 0.8rem !important;
    color: var(--cor-erro) !important;
    margin: 0;
    padding: 0;
}