body{
    width: 100%;
    height: 100vh;
}

.imagem_inicial{
    position: relative;
}

.imagem_inicial img{
    width: 100%;
}

.imagem_inicial span{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
