main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco_cadastro{
    background: var(--cor-vidro);
    box-shadow: var(--sombra-vidro);

    padding: 25px;

    border-radius: 12px;

    display: flex;
}

.bloco_cadastro form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bloco_cadastro input{
    width: 300px;

    padding: 10px;

    border: none;
    border-radius: 10px;

    background: var(--cor-azul-claro);
}

.bloco_cadastro input::placeholder{
    color: var(--cor-texto-escuro);
}

.bloco_cadastro input:focus{
    outline: none;
    outline: 2px solid var(--cor-azul);
}

.outras_opcoes{
    display: flex;
    justify-content: flex-end;

    margin: 0;
}

.outras_opcoes a{
    font-size: 12px;

    color: var(--cor-texto);

    text-decoration: none;

    transition: var(--transition-fast);
}

.outras_opcoes a:hover{
    color: var(--cor-texto-esmaecido);
}

.bloco_cadastro input[type="submit"]{
    background: var(--cor-azul);
    cursor: pointer;

    color: var(--cor-texto);
    font-weight: bold;

    transition: var(--transition-fast);
}

.bloco_cadastro input[type="submit"]:hover{
    background: var(--cor-azul-escuro);
    color: var(--cor-texto);
}

.bloco_cadastro input[type="submit"]:active{
    background: var(--cor-azul);
}