.bloco_formulario {

    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px; 
    
    width: 100%;
    max-width: 450px;
    padding: 30px; 
    box-sizing: border-box;
    margin: 0 auto;

    grid-column: 2;
}
    
.bloco_formulario img {

    object-fit: contain; 
    width: 100%;
    max-width: 250px; 
    height: auto; 
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    color: var(--cor-texto);
}

.texto h3{
    color: var(--cor-azul);
}

.subtitulo {
    text-align: center; 
    color: var(--cor-texto-esmaecido);
    margin: 0;
}

.botoes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
}

.botao {
    flex: 1; 
}

@media (max-width: 450px) {
    .botoes {
        flex-direction: column; 
    }
    
    .bloco_formulario {
        padding: 20px; 
        grid-column: flex;
    }
    
    .bloco_formulario img {
        max-width: 200px; 
    }
}